<div class="comment">
  <h2><%= comment.title %></h2>
  <%= comment.body %> <br>
  <strong> Comentario de : </strong> <%=comment.user.username %> <br>
  <strong> Escrito el : </strong> <%=comment.created_at %>
  <hr>
</div>