<div class="comment">
  <h2><%= teacher_comment.title %></h2>
  <%= teacher_comment.body %> <br>
  <strong> Comentario de : </strong> <%=teacher_comment.user.username %> <br>
  <strong> Escrito el : </strong> <%=teacher_comment.created_at %>
  <hr>
</div>